h1,h2 {
font-family: 'Playfair Display', serif;
}
p, .btn {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
 padding: 20px;
  
}
.hero {
    background-color: sandybrown;
    text-align: center;
    margin:300px;
}
h2 {
    font-size: 30px;
}
h1 {
    padding: 0px 0px 10px 0px;
}
.btn {
    margin-bottom: 40px;
  margin-top: 40px;

}